@model MemeShop.Models.ShopItemViewModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm())
{
    <p>@Html.EditorFor(item => item.Name)</p>
    <p>@Html.EditorFor(item => item.Description)</p>
    <p>@Html.EditorFor(item => item.Price)</p>
    <input type="submit" value="Add" />
}
