@model MemeShop.Models.ShopItemViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/Store/CurrentStyle.css" rel="stylesheet" />
}

<div class="description">
    <div class="container offset-2">
        <div class="row">
            <div class="col-md-6">
                <h4>@Html.DisplayFor(m => m.Name)</h4>
                <p>@Html.DisplayFor(m => m.Description)</p>
                @Html.ActionLink("BACK SHOP", "StoreMain", routeValues: false, htmlAttributes: new { @class = "backLink" })
            </div>
            <div class="col-md-6">
                <h4>&Yuml; @Html.DisplayFor(m => m.Price) EUR</h4>
                @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Get))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.DropDownList("sizes", new SelectList(new string[] { "SMALL", "MEDIUM", "LARGE", "X_LARGE" }), "SELECT A SIZE", new { id = "drop" })
                    <input type="submit" value="MAKE A SELECTION" id="sub" />
                }
            </div>
        </div>
    </div>
</div>
<div class="image">
    <div class="container offset-3">
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content(@Model.PhotoPath)" alt="Alternate Text" id="img" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/formPrevent.js"></script>
}