@model IEnumerable<MemeShop.Models.ShopItemViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanel</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("Create new Item", "Create")</p>
        @foreach (var item in Model)
        {
        <p>@item.Name || @item.Description || @item.Price ||
        @Html.ActionLink("Options", "DeleteItem", new { id = item.Id })</p>
        }
    </div>
</body>
</html>
