@model IEnumerable<MemeShop.Models.ShopItemViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Admin/AdminUIStyles.css" rel="stylesheet" />
    @Styles.Render("~/bundels/bootstrap")
    <title>AdminPanel</title>
</head>
<body>
    <div class="top">
        <h3 class="logo">Admin Page</h3>
        @Html.ActionLink("Discount Codes", "Codes", null, new { @class = "logoLink" })
    </div>

    <div class="createLinkWrap">
        <button id="btnLink">@Html.ActionLink("Create new Item", "Create", null, new { id = "createLink" })</button>
    </div>

    <table class="table">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><img src="@Url.Content(item.PhotoPath)" alt="image" id="imag"/></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@Html.ActionLink("Options", "DeleteItem", new { id = item.Id })</td>
            </tr>
            }
        </tbody>
    </table>


    @Scripts.Render("~/bundels/jsbootstrap")
</body>
</html>
