@model MemeShop.Models.ShopItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteItem</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "AdminUI", FormMethod.Post))
        {
            <p>@Html.DisplayFor(model => model.Name)</p>
            <p>@Html.EditorFor(model => model.Name, new { placeholder = Model.Name })</p>

            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@Html.TextAreaFor(model => model.Description, new { placeholder = Model.Description })</p>

            <p>@Html.DisplayFor(model => model.Price)</p>
            <p>@Html.EditorFor(model => model.Price, new { placeholder = Model.Price })</p>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PhotoPath)
            <input type="submit" value="Edit" />
        }
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" />
        }
    </div>
</body>
</html>
