
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Admin/Discount/DiscountCodesPreview.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Styles.Render("~/bundels/bootstrap")
    <title>Codes</title>
</head>
<body>
    <div class="top">
        <h3 id="logo">Discount Codes</h3>
    </div>

    @RenderSection("create")
    @RenderSection("all")


    @Scripts.Render("~/bundels/jsbootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
