@using MemeShop.Models.CartViewModel
@{
    //Part of code to show how many products we have already have in cart

    int total = 0;
    if (Session["cart"] == null)
    {
        total = 0;
    }
    else
    {
        List<Order> cart = (List<Order>)Session["cart"];
        total = cart.Count;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/bundels/bootstrap")
    @RenderSection("styles", required: false)
</head>
<body>
    <style>
        .logoText {
            font-weight: 600;
            padding-left: 90px;
        }
    </style>
    <div class="d-flex justify-content-center">
        <h1 class="logoText">Meme Shop</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="@Url.Action("HomePage", "Home")">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("StoreMain", "Home")">Shop <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ShopCart", "ShoppingCart")">Shopping Cart @total</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundels/jsbootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
