@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MemeShop.Models.CartViewModel
@{
    //Count total price, or send message that cart is empty

    List<Order> cart = (List<Order>)Session["cart"];
    var total = cart.Sum(m => m.shopItemViewModel.Price);
    string n = string.Empty;
    if (total == 0)
    {
        n = "Your cart is empty now";
    }

}

@section styles {
    <link href="~/Content/Store/CartSyle.css" rel="stylesheet" />
}

<div class="wrap">
    <div class="container offset-2">
        <div class="row">
            <div class="col-md-10">
                <a href="/Home/StoreMain" class="storeLink"><p id="back">&lt; CONTINUE SHOPPING</p></a>
                <p id="empty">@n</p>
                <p id="centr">Shopping cart</p>
                <table class="table">
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                    <tbody>
                        @foreach (var item in (List<Order>)Session["cart"])
                        {
                            <tr>
                                <td><img src="@Url.Content(item.shopItemViewModel.PhotoPath)" id="cartImg" /></td>
                                <td>
                                    @item.shopItemViewModel.Name <br />
                                    @item.size.ToLower() <br />
                                    <a href="@Url.Action("Remove", "ShoppingCart", new { id = item.shopItemViewModel.Id})" class="removeLink">Remove</a>
                                </td>
                                <td>&Yuml; @item.shopItemViewModel.Price EUR</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="subtotal">
                    <p id="total">Subtotal Price: &Yuml; @total EUR</p>
                    <div class="f">
                        @using (Html.BeginForm("Payment", "ShoppingCart", FormMethod.Get))
                        {
                            <input type="submit" value="Check Out" class="btn btn-success" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

